In [3]:
import numpy as np 
import pandas as pd   
import matplotlib.pyplot as plt

In [4]:
sales = pd.read_csv("C:\priya\Project 1 - Sales Data Analysis\Copy of  Sales Data .csv")
sales.head()
# to load the csv file from the pc
# to display the head of the data

,Column1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Order Date.1,Order Time,Purchase Address,Month,Month Name,Sales,City,Country,Hour,Profit
0,0,295665,Macbook Pro Laptop,1,"$1,700.00",12/30/2019 0:01,43829.0006,44444.0,"136 Church St, New York City, NY 10001",12,DEC,"$1,700.00",New York City,New York-United States,0,$0.00
1,1,295666,LG Washing Machine,1,$600.00,12/29/2019 7:03,43828.2937,29375.0,"562 2nd St, New York City, NY 10001",12,DEC,$600.00,New York City,New York-United States,7,$0.00
2,2,295667,USB-C Charging Cable,1,$11.95,12/12/2019 18:21,43811.7645,33333.0,"277 Main St, New York City, NY 10001",12,DEC,$11.95,New York City,New York-United States,18,$0.00
3,3,295668,27in FHD Monitor,1,$149.99,12/22/2019 15:13,43821.6340,77778.0,"410 6th St, San Francisco, CA 94016",12,DEC,$149.99,San Francisco,California-United States,15,$0.00
4,4,295669,USB-C Charging Cable,1,$11.95,12/18/2019 12:38,43817.5263,88889.0,"43 Hill St, Atlanta, GA 30301",12,DEC,$11.95,Atlanta,Georgia-United States,12,$0.00

In [4]:
sales.dtypes
# data type of each column

Column1               int64
Order ID              int64
Product              object
Quantity Ordered      int64
Price Each           object
Order Date           object
Order Date.1        float64
Order Time          float64
Purchase Address     object
Month                 int64
Month Name           object
Sales                object
City                 object
Country              object
Hour                  int64
Profit               object
dtype: object

In [5]:
sales.info()
#info of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Column1           185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  object
 5   Order Date        185950 non-null  object
 6   Order Date.1      185950 non-null  float64
 7   Order Time        185950 non-null  float64
 8   Purchase Address  185950 non-null  object
 9   Month             185950 non-null  int64
 10  Month Name        185950 non-null  object
 11  Sales             185950 non-null  object
 12  City              185950 non-null  object
 13  Country           185950 non-null  object
 14  Hour              185950 non-null  int64
 15  Profit            185950 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 22.7+ MB

In [6]:
sales.describe()
#describe basic statistic of dataframe

,Column1,Order ID,Quantity Ordered,Order Date.1,Order Time,Month,Hour
count,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,8340.388475,230417.569379,1.124383,43664.912651,47924.048453,7.059140,14.413305
std,5450.554093,51512.737110,0.442793,107.159831,27298.066088,3.502996,5.423416
min,0.000000,141234.000000,1.000000,43466.129000,0.012500,1.000000,0.000000
25%,3894.000000,185831.250000,1.000000,43571.878250,22222.000000,4.000000,11.000000
50%,7786.000000,230367.500000,1.000000,43663.861000,44444.000000,7.000000,15.000000
75%,11872.000000,275035.750000,1.000000,43764.343000,66667.000000,10.000000,19.000000
max,25116.000000,319670.000000,9.000000,43831.217000,99375.000000,12.000000,23.000000

In [7]:
sales.shape

(185950, 16)

In [8]:
sales['Profit'].describe()

count     185950
unique        38
top        $0.00
freq      168552
Name: Profit, dtype: object

In [9]:
len(sales['Profit'])

185950

In [10]:
sales['Profit'].count()

185950

In [11]:
sales.sort_values('Profit')

,Column1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Order Date.1,Order Time,Purchase Address,Month,Month Name,Sales,City,Country,Hour,Profit
0,0,295665,Macbook Pro Laptop,1,"$1,700.00",12/30/2019 0:01,43829.0006,44444.0,"136 Church St, New York City, NY 10001",12,DEC,"$1,700.00",New York City,New York-United States,0,$0.00
120914,4425,263575,AA Batteries (4-pack),1,$3.84,10/14/2019 16:42,43752.6958,33333.0,"719 Johnson St, Seattle, WA 98101",10,OCT,$3.84,Seattle,Washington-United States,16,$0.00
120915,4426,263576,USB-C Charging Cable,1,$11.95,10/23/2019 23:25,43761.9756,44444.0,"292 Hickory St, Boston, MA 02215",10,OCT,$11.95,Boston,Massachusetts-United States,23,$0.00
120916,4427,263577,27in FHD Monitor,1,$149.99,10/27/2019 9:12,43765.3833,33333.0,"572 14th St, San Francisco, CA 94016",10,OCT,$149.99,San Francisco,California-United States,9,$0.00
120917,4428,263578,ThinkPad Laptop,1,$999.99,10/20/2019 17:51,43758.7437,74375.0,"971 10th St, San Francisco, CA 94016",10,OCT,$999.99,San Francisco,California-United States,17,$0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127532,11076,269928,Bose SoundSport Headphones,2,$99.99,10/18/2019 7:34,43756.3152,77778.0,"471 Pine St, Boston, MA 02215",10,OCT,$199.98,Boston,Massachusetts-United States,7,$99.99
45090,1819,152236,Bose SoundSport Headphones,2,$99.99,2/24/2019 9:38,43520.4010,88889.0,"999 Spruce St, Austin, TX 73301",2,FEB,$199.98,Austin,Texas-United States,9,$99.99
26251,1268,177765,Bose SoundSport Headphones,2,$99.99,4/16/2019 13:57,43571.5810,58125.0,"528 1st St, New York City, NY 10001",4,APR,$199.98,New York City,New York-United States,13,$99.99
145546,8791,149611,ThinkPad Laptop,2,$999.99,1/31/2019 17:47,43496.7400,22222.0,"850 6th St, New York City, NY 10001",1,JAN,"$1,999.98",New York City,New York-United States,17,$999.99
136628,20213,278637,ThinkPad Laptop,2,$999.99,10/2/2019 16:06,43740.6708,33333.0,"643 Cedar St, Boston, MA 02215",10,OCT,"$1,999.98",Boston,Massachusetts-United States,16,$999.99

In [12]:
sales.pivot_table(index="Product",values=["Profit","Month Name"],aggfunc= "max")

                           Month Name     Profit
Product
20in Monitor                      SEP    $109.99
27in 4K Gaming Monitor            SEP    $389.99
27in FHD Monitor                  SEP    $149.99
34in Ultrawide Monitor            SEP    $379.99
AA Batteries (4-pack)             SEP      $7.68
AAA Batteries (4-pack)            SEP      $8.97
Apple Airpods Headphones          SEP    $300.00
Bose SoundSport Headphones        SEP     $99.99
Flatscreen TV                     SEP    $300.00
Google Phone                      SEP    $600.00
LG Dryer                          SEP      $0.00
LG Washing Machine                SEP      $0.00
Lightning Charging Cable          SEP     $44.85
Macbook Pro Laptop                SEP  $1,700.00
ThinkPad Laptop                   SEP    $999.99
USB-C Charging Cable              SEP     $59.75
Vareebadd Phone                   SEP    $400.00
Wired Headphones                  SEP     $35.97
iPhone                            SEP    $700.00

In [13]:
sales.dropna(inplace=True)

In [9]:
sales.pivot_table(index="Product",columns="Month Name",values="Profit",aggfunc="max")

Month Name,APR,AUG,DEC,FEB,JAN,JULY,JUNE,MAR,MAY,NOV,OCT,SEP
Product,,,,,,,,,,,,
20in Monitor,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99,$109.99
27in 4K Gaming Monitor,$389.99,$389.99,$389.99,$389.99,$0.00,$0.00,$0.00,$389.99,$389.99,$0.00,$389.99,$389.99
27in FHD Monitor,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99
34in Ultrawide Monitor,$379.99,$0.00,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99
AA Batteries (4-pack),$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68
AAA Batteries (4-pack),$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97
Apple Airpods Headphones,$150.00,$150.00,$300.00,$150.00,$150.00,$150.00,$150.00,$150.00,$150.00,$150.00,$150.00,$150.00
Bose SoundSport Headphones,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99
Flatscreen TV,$300.00,$0.00,$300.00,$300.00,$0.00,$300.00,$300.00,$300.00,$0.00,$300.00,$300.00,$300.00
Google Phone,$0.00,$600.00,$600.00,$600.00,$600.00,$0.00,$0.00,$0.00,$600.00,$0.00,$0.00,$0.00
LG Dryer,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
LG Washing Machine,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
Lightning Charging Cable,$29.90,$29.90,$44.85,$44.85,$29.90,$44.85,$29.90,$44.85,$44.85,$44.85,$29.90,$29.90
Macbook Pro Laptop,"$1,700.00",$0.00,$0.00,$0.00,$0.00,$0.00,"$1,700.00",$0.00,"$1,700.00",$0.00,$0.00,$0.00
ThinkPad Laptop,$0.00,$0.00,$0.00,$0.00,$999.99,$0.00,$0.00,$0.00,$0.00,$0.00,$999.99,$0.00
USB-C Charging Cable,$59.75,$23.90,$23.90,$23.90,$35.85,$47.80,$23.90,$35.85,$35.85,$35.85,$35.85,$23.90
Vareebadd Phone,$0.00,$400.00,$0.00,$0.00,$400.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
Wired Headphones,$23.98,$23.98,$35.97,$23.98,$35.97,$23.98,$35.97,$35.97,$35.97,$23.98,$35.97,$35.97
iPhone,$700.00,$0.00,$0.00,$0.00,$0.00,$700.00,$0.00,$700.00,$0.00,$700.00,$700.00,$700.00

In [15]:
sales.index

RangeIndex(start=0, stop=185950, step=1)

In [14]:
sales.pivot_table(index="Product",columns="Country",values="Profit",aggfunc="max")

Country,California-United States,Georgia-United States,Massachusetts-United States,New York-United States,Oregon-United States,Texas-United States,Washington-United States
Product,,,,,,,
20in Monitor,$109.99,$109.99,$0.00,$109.99,$109.99,$109.99,$109.99
27in 4K Gaming Monitor,$389.99,$389.99,$389.99,$389.99,$389.99,$389.99,$389.99
27in FHD Monitor,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99,$149.99
34in Ultrawide Monitor,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99,$379.99
AA Batteries (4-pack),$7.68,$7.68,$7.68,$7.68,$7.68,$7.68,$7.68
AAA Batteries (4-pack),$8.97,$8.97,$8.97,$8.97,$8.97,$8.97,$8.97
Apple Airpods Headphones,$150.00,$150.00,$300.00,$150.00,$150.00,$150.00,$150.00
Bose SoundSport Headphones,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99,$99.99
Flatscreen TV,$300.00,$300.00,$300.00,$300.00,$300.00,$300.00,$300.00
Google Phone,$600.00,$0.00,$600.00,$0.00,$0.00,$0.00,$0.00
LG Dryer,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
LG Washing Machine,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
Lightning Charging Cable,$44.85,$44.85,$44.85,$29.90,$29.90,$44.85,$29.90
Macbook Pro Laptop,"$1,700.00",$0.00,"$1,700.00","$1,700.00",$0.00,$0.00,$0.00
ThinkPad Laptop,$0.00,$0.00,$999.99,$999.99,$0.00,$0.00,$0.00
USB-C Charging Cable,$47.80,$35.85,$35.85,$35.85,$23.90,$23.90,$59.75
Vareebadd Phone,$400.00,$0.00,$0.00,$400.00,$0.00,$0.00,$0.00
Wired Headphones,$35.97,$35.97,$23.98,$35.97,$23.98,$35.97,$35.97
iPhone,$700.00,$700.00,$700.00,$0.00,$700.00,$0.00,$700.00